WorldStructure(
    layout_tile_width: 64,
    layout_stride: 14,
    layout: [
        60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
        60, 0, 0, 0, 0, 0, 60, 60, 0, 0, 0, 0, 0, 60,
        60, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 60,
        60, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 60,
        60, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 60,
        60, 0, 0, 0, 0, 0, 60, 60, 0, 0, 0, 0, 0, 60,
        60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60
    ],
    ceiling_idx: 7,
    floor_idx: 4,
    sprites: [
        Sprite(position: Vector2(x: 1.5,y: 1.5), texture_idx: 70),
        Sprite(position: Vector2(x: 1.5,y: 2.5), texture_idx: 71),
        Sprite(position: Vector2(x: 1.5,y: 3.5), texture_idx: 72),
        Sprite(position: Vector2(x: 1.5,y: 4.5), texture_idx: 33),
        Sprite(position: Vector2(x: 1.5,y: 5.5), texture_idx: 37),
    ]
)